* {
  box-sizing: border-box;
}

:root {
  --grid-size: 25rem;
}

.grid {
  margin: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  display: grid;
  width: var(--grid-size);
  grid-template-columns: repeat(4, 1fr);
}

.board {
  height: calc(var(--grid-size) / 4);
  margin: 2px;
}

img {
  height: calc(var(--grid-size) / 4);
  width: calc(var(--grid-size) / 4);
}

#winningText {
  position: fixed;
  top: 1%;
  width: 100%;
  text-align: center;
  font-size: calc(0.8rem + 5px);
}
